<%= form_for(@subsubtopic) do |f| %>
  <% if @subsubtopic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsubtopic.errors.count, "error") %> prohibited this subsubtopic from being saved:</h2>

      <ul>
      <% @subsubtopic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :subtopic_id %><br />
    <%= f.text_field :subtopic_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
